
.container {
    margin: 0 auto;
    text-align: center;  
}

#startDisplay label {
    display:inline-block;
    margin-top: 10px;
}

#startBtn{
    margin-top: 40px;
    padding: 10px;
}

.hideElement {
    display: none;
}